@page "/ParentComponent"


<h1 class="text-danger">Parent Child Component</h1>

<ChildComponent OnClickBtnMethod="ShowMessage" Title="This Title is passed as parameter from Parent Component">
    Render Fragment from parent!
</ChildComponent>

<p><b>@messageText</b></p>

@code {
    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }
}
